@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    background: #ABB8C3;
}
.container{
    max-width: 960px;
    min-width: 400px;
}
.header{
    background: #1D7373;
    height: 80px;
    font-size: 35pt;
    font-weight: bold;
    text-align: center;
    color: white;
}
.main{
    margin: 80px;
}
.window{
    padding: 25px;
    border-radius: 15px;
    background: #1E1E1E;
    color: white;
    box-shadow: 0px 0px 31px 17px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.public-class{
    font-size: 18px;
    color: #82AAF1;
}
.public-class .name{
    color: #F19931;

}
form{
    padding-left: 20px;
}

input{
    padding-bottom: 8px;
}

.buttons{
    padding: 5px;
    padding-bottom: 40px;
}
.red-btn{
    color: #FF5F56;
    font-size: 20px;
}
.yellow-btn{
    color: #FFBD2E;
    font-size: 20px;
}
.green-btn{
    color: #27C93F;
    font-size: 20px;
}

.pink{
    color: #C586C0;
}
.bool {
    color:#C13A26;
}
.string {
    color: #8bf89b
}
.blue{
    color: #9BDBFC;
}

.form{
}

.form input[type="text"], .form input[type="email"]{
    outline: none;
    background: transparent;
    border: none;
    color: #9BDBFC;
    text-align: center;
    width: 200px;
}
.form input::placeholder{
    font-style: italic;
    text-align: center;
}

.form select {
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--select-border);
    padding: 0.25em 0.5em;
    margin: 0;
    font-family: inherit;
    cursor: pointer;
    line-height: 1.1;
    border-radius: 0.25em;
    color: #ff5d5d;
  }

.ability{
    display: flex;
    align-items: center;
}
.ability .blue{
    font-size: 16px;
}
.ability span{
    font-size: 70px;
    font-weight: 100;
}
.ability select{
    color: white;
    overflow-y: hidden;
    outline: none;
}

.biogr{
    display: flex;
}
textarea::placeholder{
    font-style: italic;
}
textarea{
    outline: none;
    border: none;
    background: transparent;
    max-width: 400px;
    color: white;
}

input[type="checkbox"]{

}

input[type="submit"]{
    background: transparent;
    border: none;
    color: #03e9f4;
    text-transform: uppercase;
}
.btn:hover input[type="submit"]{
    color: #fff;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.btn span {
    position: absolute;
    display: block;
  }

.btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }

.btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }

.btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }

  .btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

.gray{
    color: gray;
    font-size: 10px;
}
.yellow{
    color:rgb(243, 194, 59);
}

.construct{
    padding-left: 20px;
}
.constr{
    font-size: 12px;
    width: 400px;
    border: 1px solid #333;
    padding: 10px;
}




.form_toggle {
	display: inline-block;
	overflow: hidden;
    padding-left: 10px;
}
.form_toggle-item {
	float: left;
	display: inline-block;
}
.form_toggle-item input[type=radio] {
	display: none;
}
.form_toggle-item label {
	display: inline-block;
	padding: 0px 15px;   
	line-height: 34px;    
	border: 1px solid #999;
	border-right: none;
	cursor: pointer;
	user-select: none;   
}
 
.form_toggle .item-1 label {
	border-radius: 6px 0 0 6px;
}
.form_toggle .item-2 label {
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #999;
}
 
/* Checked */
.form_toggle .item-1 input[type=radio]:checked + label {
	background: #0261cc;
}
.form_toggle .item-2 input[type=radio]:checked + label {
	background: #f356e6;
}

.genders{
    padding-top: 10px;
    display: flex;
    align-items: center;
}
